.mainCont{
        background: url(../images/subscribebg.jpg) no-repeat left center;
  background-position:90% ;
    height: 28vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.image{
    margin-top: 6%;
}
@media (max-width: 768px) {
  .mainCont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 40px 20px;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .image {
    margin-top: 20px;
  }
}
